<main style="background:rgb(219, 218, 219)">
    {{#with main}}
    <div class="p-3">
        <div class="row">

            {{#with header}}
            <h3 class="col-9">{{name}}</h3>
            <h5 class="col-3 text-end">{{project}}</h5>
            {{/with}}

            <hr>

            {{#with list}}
            <h2>{{title}}</h2>
            <p>{{text}} <i class="fa-regular fa-thumbs-up fa-beat-fade fa-xl"></i></p>
            {{/with}}

            {{#each button}}
            <div class="col-3 py-1">
                <a href="{{href}}" type="button" class="btn btn-outline-success col-12 p-1">{{text}}</a>
            </div>
            {{/each}}

            {{!-- <div class="p-2">
                {{> nav}}
            </div> --}}
        </div>
    </div>
    {{/with}}
</main>