<header class="py-3">
  {{> shopheader}}
</header>

<section class="py-3">

  <ol class="breadcrumb">
    {{#each breadcrumb}}
    <li class="breadcrumb-item nav">
      <a class="{{#unless url}} nav-link px-0 py-0 disabled{{/unless}}" href="{{url}}">{{name}}</a>
    </li>
    {{/each}}
  </ol>



  <div class="row">
    {{#with productData}}
    <div class="col-6">
      <div class="card">
        <img src={{img}}>
      </div>

      {{#with info}}
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">
            {{title}}
          </h5>
          {{about}}
          <div class="text-capitalize">
            <strong>{{price}}</strong>
          </div>
          {{#each category}}
          {{#if isHot}}
          <span class="badge text-bg-warning rounded-pill text-uppercase">{{name}}</span>
          {{/if}}

          {{#if isNew}}
          <span class="badge text-bg-primary rounded-pill text-capitalize">{{name}}</span>
          {{/if}}

          {{#if isBonus}}
          <span class="badge text-bg-info rounded-pill text-capitalize">{{name}}</span>
          {{/if}}
          {{/each}}
        </div>
      </div>
      {{/with}}
    </div>

    <div class="col-5">

      {{#with item}}


      <table class="table">
        <thead>
          {{#each head}}
          <th>{{this}}</th>
          {{/each}}
        </thead>

        <tbody>
          {{#each body}}
          <tr>
            {{#each this}}
            <td>
              {{this}}
            </td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>

      {{/with}}

      <div class="card">
        {{#with param}}
        <div class="card-header">
          <h5 class="mb-0">{{title}}</h5>
        </div>

        {{#each list}}
        <table class="table mb-0">
          <tr>
            <td>
              {{this}}
            </td>
          </tr>
        </table>
        {{/each}}

        {{/with}}

      </div>

      <div class="mt-3">
        {{#with alert}}
        {{#if isError}}
        <div class="alert alert-danger">{{text}}</div>
        {{/if}}
        {{/with}}
      </div>



    </div>
    {{/with}}
    <div class="card">
      <div>
        {{#each productData.actionList}}

        {{#if isWarning}}
        <button class="btn btn-warning text-light">{{name}}</button>
        {{/if}}

        {{#if isError}}
        <button class="btn btn-danger bg-light text-danger">{{name}}</button>
        {{/if}}

        {{#if isSuccess}}
        <button class="btn btn-success">{{name}}</button>
        {{/if}}

        {{#if isGood}}
        <button class="btn btn-success bg-light text-success">{{name}}</button>
        {{/if}}

        {{/each}}
      </div>
    </div>


  </div>



  <hr class="my-5">


  {{> shopcard}}



  {{> shopaction}}



</section>

<footer>
  {{> shopfooter}}
</footer>