<div class="card">
  <div class="card-body">
    {{#with heading}}

    <div class="card">
      <div class="card-body">
        {{#with main}}
        <h1>{{title}}</h1>

        <p class="text-muted">{{text}}</p>

        {{#with button_text}}
        <div>
          <div><button class="btn btn-primary">{{solid}}</button></div>
          <br>
          <br>
          <div><button class="btn btn-outline-primary">{{outline}}</button></div>
        </div>
        {{/with}}
        {{/with}}
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        {{#with second}}
        <h2>{{title}}</h2>

        <p class="text-muted">{{text}}</p>

        {{#with button_text}}
        <div>
          <div><button class="btn btn-secondary">{{solid}}</button></div>
          <br>
          <div><button class="btn btn-outline-secondary">{{outline}}</button></div>
        </div>
        {{/with}}
        {{/with}}
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        {{#with subblock}}
        <h3>{{title}}</h3>

        <p class="text-muted">{{text}}</p>

        {{#with button_text}}
        <div>
          <div><button class="btn btn-dark btn-sm">{{solid}}</button></div>
          <br>
          <div><button class="btn btn-outline-dark btn-sm">{{outline}}</button></div>
        </div>
        {{/with}}
        {{/with}}
      </div>
    </div>


    {{/with}}
  </div>
</div>

<br>
<br>
<br>




<div class="card">
  <div class="card-body">

    {{#with nested_display}}

    <div class="display-1">
      {{title}}
    </div>

    <br>

    <div class="card">
      <div class="card-body">
        {{#with children_display}}
        <div class="display-4">{{title}}</div>
        <p class="text-muted">{{text}}</p>
        <button class="btn btn-outline-warning">{{button.text}}</button>
        {{/with}}
      </div>
    </div>

    <br>

    <h6>{{header_text}}</h6>

    <button class="btn btn-info text-light">{{button.text}}</button>
    {{/with}}
  </div>
</div>

<br>
<br>
<br>

<div class="card">
  <div class="card-body">
    {{#with paragraph}}

    <p class="text-uppercase">{{title}}</p>
    <p class="lowercase">{{text}}</p>

    {{> link text=button.text href=button.url noLine=true}}

    <br>
    <br>
    <div class="card">
      <div class="card-body">
        {{#each list_name}}
        <ul>
          <li>
            <button class="btn btn-link">{{text}} {{url}}</button>
          </li>
        </ul>
        {{/each}}
      </div>
    </div>

    {{/with}}
  </div>
</div>