{{#with purchase}}
<div class="row g-1">
    {{#each itemList}}
    <div class="col-4">
        {{number}}

        <div>
            <h6>{{status}}</h6>
        </div>
    </div>
    {{#with amount}}
    <div class="col-2">
        {{title}}:
        <h6>{{value}}</h6>
    </div>
    {{/with}}

    <div class="col-4">
        {{#each images}}
        <img width="75px" height="75px" src="{{this}}">
        {{/each}}
    </div>


    {{#with button}}
    <div class="col-2">
        {{#if isPrimary}}<button class="btn btn-primary" href="{{link}}">{{text}}</button>{{/if}}
    </div>
    {{/with}}
    <hr>

    {{/each}}
</div>
{{/with}}